@font-face {
    font-family: 'AnglicanText';
    src: url('AnglicanText.woff2') format('woff2'),
        url('AnglicanText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

